$purple : #777CD9;
$dark-purple : #414581;
$dark-purple2: #3B2774;
$cyan : #24D7FF;
$orange : #FFC400;
$soft-gray : #e6e6e6;
$soft-gray2 : #a0a0a0;

*{
    font-family: 'Roboto', sans-serif !important;
}
.line{
    width: 100%;
    min-height: 12px;
    display: flex;
    .line1{
        max-width: 60%;
        min-height: 12px;
        background-color: $purple;
        flex: 3;
    }
    .line2{
        max-width: 10%;
        min-height: 12px;
        background-color: $cyan;
        flex: 1;
    }
    .line3{
        max-width: 60%;
        min-height: 12px;
        background-color: $orange;
        flex: 2;
    }
}

.gap-20{
    gap: 20px;
}

span.font-weight-bold{
    font-size: 40px;
}

.font-weight-bold{
    font-weight: bold;
}

h1{
    &.headline{
        font-weight: 700;
        color: $dark-purple;
        font-size: 75px;
    }
}

.headline__desc{
    font-size: 20px;
    font-weight: 400px;
}

.btn-custom{
    width: 250px;
    height: 64px;
    border: none;
    border-radius: 5px;
    &.btn-dark-purple{
        background-color: $dark-purple;
        color: $white;
        font-weight: 500;
        font-size: 25px;
        box-shadow: 2px 1px 4px #2f3484ad;
    }
    &.btn-orange{
        background-color: $orange;
        color: $white;
        font-weight: 500;
        font-size: 25px;
        box-shadow: 2px 1px 4px #2f3484ad;
    }
}

.heightHeader{
    min-height: 85vh;
}

.ml-auto{
    margin-left: auto;
}

.nav-link{
    margin: 0 20px 0 20px;
    font-size: 30px;
    &.active{
        position: relative;
        font-weight: 700;
        &::after{
            content: '';
            background-color: $orange;
            min-width: 100%;
            min-height: 4px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

nav.bg-light{
    background-color: $white !important;
}

.card-border-none{
    border: none;
}

.card-image{
    box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    background: #fff;
    text-align: left;
    transition: translate .18s,box-shadow .18s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    overflow: hidden;

    &:hover{
        box-shadow: 0 5px 25px rgb(0 0 0 / 10%);
        transform: translateY(-1px);
    }

    img{
        width: 100%;
        border-bottom: 1px solid $soft-gray;
    }

    .desc{
        padding: 15px;

        .head-desc{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                font-weight: bold;
                font-size: 25px;
            }
            .btn{
                width: 100px;
                height: 30px;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                &:focus{
                    box-shadow: none !important;
                }

                &.btn-dark-purple{
                    background-color: $dark-purple;
                    color: $white;
                    font-weight: 400;
                }
            }
        }

        .content{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            color: $soft-gray2;
        }
    }
}

.bg-dark-purple2{
    background-color: $dark-purple2;
    color: $white;
    .row{
        div{
            .headline{
                color:  $white;
            }
        }
    }
}